<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.training.modules.trainingplan.mapper.UserLiteMapper">
    <select id="selectUserIdsByDeptId" resultType="java.lang.Long">
        SELECT id FROM user WHERE dept_id = #{deptId} AND deleted = 0
    </select>
</mapper>
